<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tastycactus.timesheet"
      android:versionCode="6"
      android:versionName="1.5">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name"
          android:icon="@drawable/clock">
        <activity android:name=".TimesheetActivity"
              android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TaskEditActivity"
              android:label="@string/task_edit_activity" />
        <activity android:name=".TimeEntriesActivity" android:theme="@style/CustomTheme"
              android:label="@string/time_list_activity" />
        <activity android:name=".TimeEntryEditActivity"
              android:label="@string/time_edit_activity" />
        <activity android:name=".ExportActivity"
              android:label="@string/export_activity" />
        <activity android:name=".TimesheetPreferences"
              android:label="@string/app_name" />
        <receiver android:name=".TimesheetAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                    android:resource="@xml/timesheet_widget_info" />
        </receiver>
        <service android:name=".TimesheetAppWidgetProvider$UpdateService" />
        <service android:name=".TimesheetAppWidgetProvider$ToggleActiveService" />
        <service android:name=".TimesheetAppWidgetProvider$NextTaskService" />
    </application>
    <uses-sdk android:minSdkVersion="7" />
</manifest> 
